{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FDS Grupo 3{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header class="header">
        <div class="header-container">
            <h1>FDS Grupo 3</h1>
            {% if user.is_authenticated %}
            <nav class="nav">
                <a href="{% url 'index' %}">Início</a>
                <span class="separator">|</span>
                <a href="{% url 'sobre_nos' %}">Fale Conosco</a>
                <span class="separator">|</span>
                <a href="{% url 'sobre_empresa' %}">Sobre a Empresa</a>
                <span class="separator">|</span>
                
                <form method="post" action="{% url 'logout' %}" class="logout-form">
                    {% csrf_token %}
                    <button type="submit" class="btn-logout">Sair</button>
                </form>
            </nav>
            {% endif %}
        </div>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; Grupo 3</p>
    </footer>

</body>
</html>