{% extends 'forum/base.html' %}

{% block title %}Fórum MyStackOverflow - Responder Pergunta{% endblock %}

{% block content %}
<div class="card">
    <h2>Detalhes da Pergunta</h2>
    <p style="font-weight: bold; margin-bottom: 15px; font-size: 1.1rem;">Como conectar o Django ao PostgreSQL no Render?</p>
    
    <hr style="margin-bottom: 20px; border: none; border-top: 1px solid #eee;">

    <h2>Sua Resposta</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <textarea name="resposta" class="form-control" placeholder="Escreva sua resposta aqui..." required></textarea>
        </div>

        <button type="submit" class="btn-primary">Enviar Resposta</button>
    </form>
</div>
{% endblock %}