{% extends 'forum/base.html' %}

{% block title %}Nosso objetivo com o site{% endblock %}
{% block content %}
<div class="card text-content">
    <h2>O que planejamos</h2>
        <p>Nossa ideia para o projeto consiste em um site de assessoria para os clientes da Bzu Tech, em que, por meio do uso de IA, o cliente informa os dados da sua empresa e sobre os dispositivos de IoT, e com essas informações o ChatBot recomendará configurações de acordo com o contexto que está inserida e estimar custos/sugerir melhorias.</p>
        <p>Nosso diferencial é o acompanhamento personalizado para cada cliente, entregando direcionamentos por meio de dados e experiências.</p>
</div>
{% endblock %}
