{% extends 'forum/base.html' %}

{% block title %}Sobre a Empresa - BZU Tech{% endblock %}

{% block content %}
<div class="card text-content">
    <h2>Sobre a BZU Tech</h2>
    <p>A BZU Tech é uma startup brasileira especializada em soluções de Internet das Coisas (IoT). A empresa transforma dados coletados em tempo real em inteligência operacional, com forte atuação no monitoramento automatizado de temperatura e umidade para a cadeia de frio, garantindo eficiência, conformidade e redução de perdas para os negócios.</p>
{% endblock %}
</div>